[Desktop Entry]
Name=Windows XP Luna
Comment=QuickXP theme window decoration
X-KDE-PluginInfo-Author=QuickXP
X-KDE-PluginInfo-Name=quickxp-luna
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
